
<%= simple_form_for(@country) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    
    <%= f.input :mim_tier1_cost %>
    <%= f.input :mim_tier1_limit %>
    <%= f.input :mim_tier2_cost %>
    <%= f.input :mim_tier2_limit %>
    <%= f.input :mim_tier3_cost %>
    <%= f.input :mim_tier3_limit %>
    <%= f.input :mim_tier4_cost %>
    <%= f.input :mim_tier4_limit %>
    
    <%= f.input :nextday_tier1_cost %>
    <%= f.input :nextday_tier1_limit %>
    <%= f.input :nextday_tier2_cost %>
    <%= f.input :nextday_tier2_limit %>
    <%= f.input :nextday_tier3_cost %>
    <%= f.input :nextday_tier3_limit %>
    <%= f.input :nextday_tier4_cost %>
    <%= f.input :nextday_tier4_limit %>


    <%= f.input :exchange_rate %>
    <%= f.input :require_id %>
    <%= f.input :require_testq %>
    <%= f.input :communist_q %>
    <%= f.input :req_twoid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

