<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mim t1 cost</th>
      <th>Mim t1 limit</th>
      <th>Mim t2 cost</th>
      <th>Mim t2 limit</th>
      <th>Mim t3 cost</th>
      <th>Mim t3 limit</th>
      <th>Mim t4 cost</th>
      <th>Mim t4 limit</th>
      <th>Nextday t1 cost</th>
      <th>Nextday t1 limit</th>
      <th>Nextday t2 cost</th>
      <th>Nextday t2 limit</th>
      <th>Nextday t3 cost</th>
      <th>Nextday t3 limit</th>
      <th>Nextday t4 cost</th>
      <th>Nextday t4 limit</th>
      <th>Exchange rate</th>
      <th>Require</th>
      <th>Require testq</th>
      <th>Communist q</th>
      <th>Req twoid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.mim_tier1_cost %></td>
        <td><%= country.mim_tier1_limit %></td>
        <td><%= country.mim_tier2_cost %></td>
        <td><%= country.mim_tier2_limit %></td>
        <td><%= country.mim_tier3_cost %></td>
        <td><%= country.mim_tier3_limit %></td>
        <td><%= country.mim_tier4_cost %></td>
        <td><%= country.mim_tier4_limit %></td>
        <td><%= country.nextday_tier1_cost %></td>
        <td><%= country.nextday_tier1_limit %></td>
        <td><%= country.nextday_tier2_cost %></td>
        <td><%= country.nextday_tier2_limit %></td>
        <td><%= country.nextday_tier3_cost %></td>
        <td><%= country.nextday_tier3_limit %></td>
        <td><%= country.nextday_tier4_cost %></td>
        <td><%= country.nextday_tier4_limit %></td>
        <td><%= country.exchange_rate %></td>
        <td><%= country.require_id %></td>
        <td><%= country.require_testq %></td>
        <td><%= country.communist_q %></td>
        <td><%= country.req_twoid %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
