<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>


<p>
  <strong>Mim t1 cost:</strong>
  <%= @country.mim_tier1_cost %>
</p>

<p>
  <strong>Mim t1 limit:</strong>
  <%= @country.mim_tier1_limit %>
</p>

<p>
  <strong>Mim t2 cost:</strong>
  <%= @country.mim_tier2_cost %>
</p>

<p>
  <strong>Mim t2 limit:</strong>
  <%= @country.mim_tier1_limit %>
</p>

<p>
  <strong>Mim t3 cost:</strong>
  <%= @country.mim_tier3_cost %>
</p>

<p>
  <strong>Mim t3 limit:</strong>
  <%= @country.mim_tier1_limit %>
</p>

<p>
  <strong>Mim t4 cost:</strong>
  <%= @country.mim_tier4_cost %>
</p>

<p>
  <strong>Mim t4 limit:</strong>
  <%= @country.mim_tier4_limit %>
</p>

<br>

<p>
  <strong>Nextday tier 1 cost:</strong>
  <%= @country.nextday_tier1_cost %>
</p>

<p>
  <strong>Nextday tier 1 limit:</strong>
  <%= @country.nextday_tier1_limit %>
</p>

<p>
  <strong>Nextday tier 2 cost:</strong>
  <%= @country.nextday_tier2_cost %>
</p>

<p>
  <strong>Nextday tier 2 limit:</strong>
  <%= @country.nextday_tier2_limit %>
</p>

<p>
  <strong>Nextday tier 3 cost:</strong>
  <%= @country.nextday_tier3_cost %>
</p>

<p>
  <strong>Nextday tier 3 limit:</strong>
  <%= @country.nextday_tier3_limit %>
</p>

<p>
  <strong>Nextday tier 4 cost:</strong>
  <%= @country.nextday_tier4_cost %>
</p>

<p>
  <strong>Nextday tier 4 limit:</strong>
  <%= @country.nextday_tier4_limit %>
</p>

<br>

<p>
  <strong>Exchange rate:</strong>
  <%= @country.exchange_rate %>
</p>

<p>
  <strong>Require ID:</strong>
  <%= @country.require_id %>
</p>

<p>
  <strong>Require testq:</strong>
  <%= @country.require_testq %>
</p>

<p>
  <strong>Communist q:</strong>
  <%= @country.communist_q %>
</p>

<p>
  <strong>Req twoid:</strong>
  <%= @country.req_twoid %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
